body {
  background-color: #212529 ;
  
}

.navbar {
  margin-left: auto;
  margin-right: auto;
  
}


.lucky {
    color: rgb(1, 1, 1);
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    text-align: center;
    margin: 2%;
    color: white;
}

#icon {
  margin-left: 25px;
}


#button {
    margin: 0 15px ;
    display: flex;
    justify-content: center;
    background-color: #00ccff;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    animation: float 5s infinite;

  }
 
 @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

.button1 {
  display: flex;
  justify-content: center;
  width: 100%;
  }

.card {
  
    background-color: #f3f1f1;
    color: #212529;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  }

.refresh {
  border: none;
  border-radius: 50%;
}

.refresh:hover {
    transform:scale(1.2)
}

#mealLink {
  padding-bottom: 30px;
  }

#trailer {
  margin-bottom: 30px;
}

#card-container {
  display: flex;
  justify-content: space-around;
  padding-left: 15%;
  padding-right: 15%;
  visibility: hidden;
  
  }

#randomize {
  display: flex;
  width: 100%;
  justify-content: center;
  color: white;
  padding-top: 3%;
  padding-bottom: 1%;
}

/* #mealz {
  padding-top: 10%;
  padding-bottom: 10%;
} */

#mealName, #title {
  font-size: 1.25em;
  font-weight: bold;
  margin: 5%;
  text-align: center;
  overflow-wrap: break-word;
}

#mealText {
  width: 100%;
  margin-top: 4em;
}

#mealCategory {
  margin: 20px;
  font-style: italic;
}

#rank {
  margin: 10px;
  font-style: italic;
}

#year {
  margin: 10px;
  font-style: italic;
}

#card1, #card2 {
  width: 30%;
  border-radius: 10%;
  text-align: center;
}

#button {
  color: #ffffff;
  background-color: rgb(180, 22, 22);
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  margin: 40px;
  border-radius: 12%;
  animation: float 5s infinite;
}

#button:hover{
  background-color: rgb(146, 18, 18);
}


img {
  margin: 12.5%;
  width: 75%;
  height: auto;
  /* border-radius: 10%; */
  }

  a:hover {
    font-size: larger;
}

/* #lockIcon1 {
  display: inline-block;

} */


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (max-width: 500px) {
  #card-container {
    display: flex;
    flex-direction: column;
  }
  #card2 {
    margin-top: 5%;
  }

  #card1, #card2 {
    width: 100%;
  }
}